<h1>Listing jokes</h1>

<ul>

<% for joke in @jokes %>
	<li>
		<%=h joke.question %><br />
		<% if logged_in_as_admin? %>
			<%=h joke.answer %><br />
		    <%= link_to 'Show', joke %> |
		    <%= link_to 'Edit', edit_joke_path(joke) %> |
		    <%= link_to 'Destroy', joke, :confirm => 'Are you sure?', :method => :delete %>
		<% else %>
			<%= link_to 'Purchase this joke to see the answer', :action => :checkout, :id => joke %>
		<% end %>
	</li>
<% end %>

</ul>

<br />

<% if logged_in_as_admin? %>
	<%= link_to 'New joke', new_joke_path %>
<% end %>