<h1>My jokes</h1>

<% unless @purchases.empty? %>

	<dl>
	<% for purchase in @purchases %>
		<dt><%= link_to(h(purchase.joke.question), purchase.joke) %></dt>
		<dd>
			<%= link_to(h(purchase.joke.answer), purchase.joke) %><br />
			Purchased by <%=h purchase.user.login %> on <%= purchase.created_at.strftime('%d %b %Y') %>
		</dd>
	<% end %>
	</dl>
	
<% else%>

	<p>
		You have not yet purchased any jokes from us.
		<%= link_to 'Choose one here to get started!', jokes_path %>
	</p>

<% end %>
